.news_container {
  width: 360px;
  box-sizing: border-box;
  background-color: #fff;
  height: 168px;
  position: relative;
}

.kx {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 27px;
  background: url("../../assets/kx.png") no-repeat;
  background-size: contain;
}

.news_front {
  z-index: 2;
  padding: 22px;
  position: relative;
  box-shadow: 0 2px 2px #dedede;
}

.news_front > div:nth-child(1) {
  margin-bottom: 6px;
}

.news_front > div:nth-child(1) > a > div {
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  line-height: 32px;
  margin-right: 10px;
}

.news_front > div:not(:first-child) {
  line-height: 26px;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover {
  color: #3d99bc!important;
}

a:visited {
  color: initial;
}

.news_back {
  z-index: 1;
  position: absolute;
  top: 168px;
  left: 0;
  width: 360px;
}

.news_back > div {
  width: 300px;
  height: 28px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  border-radius: 2px;
}

.news_back > div > i {
  position: absolute;
  width: 300px;
  height: 28px;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background: url("../../assets/down.png") center center no-repeat;
  background-size: contain;
  border-radius: 2px;
  box-shadow: 0 2px 4px #dedede;
  transition: 0.3s all ease;
}

.news_back > div > i.active {
  height: 42px;
  line-height: 42px;
  background: #fff;
  bottom: -14px;
}

.news_back > div > i > span {
  opacity: 0;
  text-align: center;
  font-style: normal;
  display: inline-block;
  width: 100%;
  color: #3d99bc;
}

.news_back > div > i.active > span {
  opacity: 1;
}
