.flex_card_container {
  height: 380px;
}

.flex_card_container>.item {
  overflow: hidden;
  display: inline-block;
  width: 257px;
  height: 276px;
  background: url("../../assets/flex_card_bg.png") no-repeat;
  cursor: pointer;
  vertical-align: top;
  transition: .5s all ease;
}

.flex_card_container>.item.active {
  width: 585px;
  height: 380px;
}

.flex_card_container>.item:not(:last-child) {
  margin-right: 10px;
}

.flex_card_container>.item .icon {
  margin: 61px 0 40px 91px;
  width: 76px;
  height: 76px;
  box-sizing: border-box;
  border: 3px solid #3d99bc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s all ease;
}

.flex_card_container>.item .icon>div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 42px;
  height: 42px;
}

.flex_card_container>.item.active .icon {
  margin: 61px 0 40px 50px;
  background-color: #3d99bc;
}

.flex_card_container>.item .icon.cap>div {
  background-image: url("../../assets/cap.png");
}

.flex_card_container>.item.active .icon.cap>div {
  background-image: url("../../assets/cap_a.png");
}

.flex_card_container>.item .icon.house>div {
  background-image: url("../../assets/house.png");
}

.flex_card_container>.item.active .icon.house>div {
  background-image: url("../../assets/house_a.png");
}

.flex_card_container>.item .icon.mobile>div {
  background-image: url("../../assets/mobile.png");
}

.flex_card_container>.item.active .icon.mobile>div {
  background-image: url("../../assets/mobile_a.png");
}

.flex_card_container>.item h3 {
  font-size: 30px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  transition: .5s all ease;
}

.flex_card_container>.item.active h3 {
  text-align: left;
  padding-left: 50px;
}

.flex_card_container>.item p {
  display: none;
  padding-left: 50px;
  width: 484px;
  line-height: 24px;
  transition: .5s all ease;
}

.flex_card_container>.item.active p {
  display: block;
}